<div class="products">
  <div class="container">
    <h2 class="products__title">Conheça os nossos produtos</h2>
    <div class="container-slider">
      <div class="slider-produts">
        <div class="slider-products__item">
          <img src="../../../assets/images/img-product-01.jpg" alt="Produto 01">
        </div>
        <div class="slider-products__item">
          <img src="../../../assets/images/img-product-02.jpg" alt="Produto 02">
        </div>
        <div class="slider-products__item">
          <img src="../../../assets/images/img-product-03.jpg" alt="Produto 03">
        </div>
        <div class="slider-products__item">
          <img src="../../../assets/images/img-product-04.jpg" alt="Produto 04">
        </div>
      </div>
    </div>
    <p class="products__description">
      Os nossos keiffs contêm 14 tipos de microrganismos vivos, ativos e do bem e são <br>
      produzidos com todo o cuidado para promover saúde, longevidade e bem-estar.
    </p>
    <button class="products__button">Veja a lista completa</button>
  </div>
</div>
