<app-nav></app-nav>

<app-banner></app-banner>

<div class="what-is-kefir">
  <div class="what-is-kefir__bg">
    <img src="../../../assets/images/floating-efect/img-01.svg" alt="floating element" class="img-01">
    <img src="../../../assets/images/floating-efect/img-02.svg" alt="floating element" class="img-02">
    <img src="../../../assets/images/floating-efect/img-03.svg" alt="floating element" class="img-03">
    <img src="../../../assets/images/floating-efect/img-04.svg" alt="floating element" class="img-04">
    <img src="../../../assets/images/floating-efect/img-05.svg" alt="floating element" class="img-05">
    <img src="../../../assets/images/floating-efect/img-06.svg" alt="floating element" class="img-06">
    <img src="../../../assets/images/floating-efect/img-07.svg" alt="floating element" class="img-07">
    <img src="../../../assets/images/floating-efect/img-08.svg" alt="floating element" class="img-08">
  </div>
  <h2>O que é kefir?</h2>
  <p>
    Vindo lá das montanhas do Cáucaso e cercado de boas <br>
    histórias, o kefir é um grão derivado do leite que, uma vez <br>
    fermentado, gera uma espécie de super iogurte.
  </p>
  <p>
    A bebida milenar é considerada o probiótico mais rico e <br>
    efetivo do mundo, fortalecendo o sistema imunológico e <br>
    oferecendo uma série de outros benefícios, como melhor <br>
    digestão e eliminação de toxinas.
  </p>
</div>

<div class="benefits">
  <div class="benefits__description">
    <h2>
      Keiff: sabor e
      praticidade em uma
      bebida probiótica
    </h2>
    <p>
      O kefir é rico em probióticos, bactérias benéficas que melhoram
      a saúde geral do organismo, promovendo inúmeros benefícios.
    </p>
  </div>
  <div class="benefits__image">
    <img src="../../../assets/images/img-benefits.jpg" alt="">
  </div>
  <div class="benefits__list">
    <ul>
      <li>
        <span>1</span>
        <p>Fortalece o sistema imunológico</p>
      </li>
      <li>
        <span>2</span>
        <p>Auxilia no emagrecimento</p>
      </li>
      <li>
        <span>3</span>
        <p>Fortalece os ossos</p>
      </li>
      <li>
        <span>4</span>
        <p>Melhora a digestão</p>
      </li>
      <li>
        <span>5</span>
        <p>Reduz o estresse, a depressão e a insônia</p>
      </li>
      <li>
        <span>6</span>
        <p>Ajuda na redução de alergias</p>
      </li>
      <li>
        <span>7</span>
        <p>Elimina toxinas do organismo</p>
      </li>
      <li>
        <span>8</span>
        <p>Auxilia no combate ao câncer</p>
      </li>
      <li>
        <span>9</span>
        <p>Contribui para uma pele mais saudável</p>
      </li>
    </ul>
  </div>
</div>

<div class="recipe">
  <div class="content-recipe">
    <div class="recipe__image">
      <img src="../../../assets/images/img-recipe.jpg" alt="Imagem Receita">
    </div>
    <div class="recepi__description">
      <div class="recepi__title">
        <h2>Lorem Ipsum</h2>
        <p>21/08/2018</p>
      </div>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Sed diam nonummy nibh euismod tincidunt.</li>
        <li>Ut laoreet dolore magna aliquam erat volutpat. </li>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Sed diam nonummy nibh euismod tincidunt.</li>
        <li>Ut laoreet dolore magna aliquam erat volutpat. </li>
      </ol>
      <span>
        Magna aliquam: nibh, euismod, laoreet, volutpat, dolore, sit
      </span>
    </div>
  </div>
</div>

<app-products></app-products>

<app-instagram-posts></app-instagram-posts>

<app-footer bgColor="blue"></app-footer>