<app-nav></app-nav>

<div class="internal-banner"></div>

<div class="map-section">
  <h2>Encontre o Keiff mais próximo de você!</h2>

  <form action="/">
    <input type="text" placeholder="Digite um endereço ou CEP">
    <button>Pesquisar</button>
  </form>

  <div class="address-list">
    <ul>
      <li>
        <div>
          <h3>Mundo verde Top Center Paulista</h3>
          <p>Av. Paulista, 854 - Bela Vista, São Paulo - SP, 01310-100</p>
        </div>
        <div>
          <a href="#">Ver no Mapa</a>
        </div>
      </li>
      <li>
        <div>
          <h3>Mundo verde Top Center Paulista</h3>
          <p>Av. Paulista, 854 - Bela Vista, São Paulo - SP, 01310-100</p>
        </div>
        <div>
          <a href="#">Ver no Mapa</a>
        </div>
      </li>
      <li>
        <div>
          <h3>Mundo verde Top Center Paulista</h3>
          <p>Av. Paulista, 854 - Bela Vista, São Paulo - SP, 01310-100</p>
        </div>
        <div>
          <a href="#">Ver no Mapa</a>
        </div>
      </li>
      <li>
        <div>
          <h3>Mundo verde Top Center Paulista</h3>
          <p>Av. Paulista, 854 - Bela Vista, São Paulo - SP, 01310-100</p>
        </div>
        <div>
          <a href="#">Ver no Mapa</a>
        </div>
      </li>

    </ul>
  </div>

  <div id="map"></div>
</div>

<app-footer bgColor="pink"></app-footer>

