<app-nav></app-nav>

<div class="internal-banner"></div>

<div class="map-section">
  <h2>Encontre o Keiff mais próximo de você!</h2>

  <form>
    <input type="text" placeholder="Digite um endereço ou CEP" #search autocorrect="off" autocapitalize="off" spellcheck="off">
    <button type="button">Pesquisar</button>
  </form>

  <div class="address-list">
    <ul>
      <li *ngFor="let item of locationsArray; let i = index">
        <div>
          <h3>{{item.Nome}}</h3>
          <p>{{item.Endereco}}</p>
        </div>
        <div>
          <a (click)="showOnGoogle(item.Latitude, item.Longitude, i)">Ver no Mapa</a>
        </div>
      </li>
    </ul>
  </div>

  <agm-map [latitude]="center.Latitude" [longitude]="center.Longitude" [zoom]=center.zoon>
    <agm-marker [latitude]="item.Latitude" [longitude]="item.Longitude" *ngFor="let item of locationsArray; let i = index;">
      <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true" [isOpen]="showItem[i]">
        <ng-template>
          <h3 style="margin:0;">
            {{item.Nome}}
          </h3>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>

</div>

<div class="img-footer">
  
</div>

<app-footer bgColor="pink"></app-footer>