@import '../../../styles.scss';

footer {
  padding: 60px 0 0;
  color: $white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: content-box;
  position: relative;
}

::placeholder {
  color: $white;
}

footer.blue {
  background: $medium-blue;
}

footer.pink {
  background: $pink;
}

footer.green {
  background: $green;
}

footer.aqua {
  background: $aqua;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  @media (max-width: 768px) {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
}

.footer__logo {
  min-width: 140px;
}

footer .footer__links {
  margin: 10px 0 0;
  display: flex;
  justify-content: space-around;
  ul {
    padding: 0;
  }
  li {
    @media (max-width: 768px) {
      text-align: center;
    }
    list-style: none;
  }
  a {
    text-decoration: none;
    font-weight: 300;
  }
}

footer .footer__list {
  margin: 0;
}

footer .footer__list ul {
  margin: 0;
}

footer .footer__list li {
  margin: 0 0 20px;
}

footer .footer__list li a {
  font-size: 18px;
  color: $white;
}

.footer__social-network {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: flex-start;
  p {
    margin: 0;
    color: $white;
  }
  img {
    width: 25px;
    margin: 0 0 0 5px;
  }
}

.newsletter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width:768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }
  p {
    margin-top: 0;
    color: $white;
  }
}

.newsletter form {
  display: flex;
}

.newsletter input {
  background: transparent;
  border: solid 1px #fff;
  color: #fff; // height: 40px;
  padding: 10px;
  width: 70%;
  height: 40px;
  box-sizing: border-box;
}

.newsletter button {
  background: transparent;
  border: solid 1px $white;
  color: $white;
  height: 40px;
  width: 30%;
  font-size: 12px;
}

.partners img {
  min-width: 60px;
  margin-right: 60px;

  @media (max-width: 768px) {
    margin:10px 0;
  }
}

.footer__copyright {
  text-align: center;
  margin-top: 40px;
  color: $white;
  a {
    color: $white;
    text-decoration: none;
    font-weight: bold;
  }
}

.back-to-top {
  width: 30px;
  position: absolute;
  top: -60%;
  right: 3%;
  cursor: pointer;
  animation: float 3s ease-in-out infinite;
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-15px);
  }

  100% {
    transform: translatey(0px);
  }
}