<footer class="{{bgColor}}">
  <div class="footer__content">
    <div class="footer__logo">
      <img src="../../../assets/images/logo-white.svg" alt="logo Keiff branco">
    </div>
    <div class="footer__links">
      <div class="footer__list">
        <ul>
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Nosso Produtos</a></li>
          <li><a href="#">Onde Encontrar</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__social-network">
      <p class="social-footer">
        Siga a Keiff:
      </p>
      <a href="">
        <img src="../../../assets/images/icon-facebook-white.svg" alt="">
      </a>
      <a href="">
        <img src="../../../assets/images/icon-instagram-white.svg" alt="">
      </a>
    </div>
    <div class="footer__newsletter">
      <div class="newsletter">
        <div class="partners">
          <img src="../../../assets/images/icon-sistema-b.svg" alt="Logo Sistema B">
        </div>
        <div>
          <p>Cadastre no nosso Newsletter para mais novidades!</p>
          <form action="/">
            <input type="email" class="newsletter__input">
            <button type="submit" class="newsletter__buttom">Inscrever</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="footer__copyright">
      Copyright © 2018 Keiff. Todos os direitos reservados. Desenvolvido por <a href="http://estudiopulpo.com.br/"
        target="blank">Estúdio Pulpo</a> e <a href="https://iluminait.com/" target="blank">Ilumina IT</a>.
    </p>
  </div>
</footer>