<div class="intagram-posts">
  <h2 class="intagram-posts__title">Siga o nosso instagram</h2>
  <div class="container-slider">
    <div class="slider-instagram-posts" id="customize">
      <div>
        <div class="slider-instagram-posts__image" style="background-image:url(../../../assets/images/img-recipe.jpg)"></div>
      </div>
      <div>
        <div class="slider-instagram-posts__image" style="background-image:url(../../../assets/images/img-recipe.jpg)"></div>
      </div>
      <div>
        <div class="slider-instagram-posts__image" style="background-image:url(../../../assets/images/img-recipe.jpg)"></div>
      </div>
      <div>
        <div class="slider-instagram-posts__image" style="background-image:url(../../../assets/images/img-recipe.jpg)"></div>
      </div>
      <div>
        <div class="slider-instagram-posts__image" style="background-image:url(../../../assets/images/img-recipe.jpg)"></div>
      </div>
    </div>
    <ul class="slider-instagram-posts__controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
      <li class="prev" aria-controls="customize" data-controls="prev">
        <img src="../../../assets/images/icon-left-arrow.svg" alt="left">
      </li>
      <li class="next" aria-controls="customize" data-controls="next">
        <img src="../../../assets/images/icon-right-arrow.svg" alt="right">
      </li>
    </ul>
  </div>
  <p class="intagram-posts__description">
    Veja nossos keiffs por aí e compartilhe seus momentos de bem-estar! <br>
    <strong>
      #espalhesaude
    </strong>
  </p>
</div>