<nav>
  <ul class="menu">
    <li class="menu__item" routerLink="/nossa-história" routerLinkActive="active">Nossa história</li>
    <li class="menu__item" routerLink="/nossos-keifs" routerLinkActive="active">Nossos keiffs</li>
    <li class="menu__item" routerLink="/"><img class="logo" src="../../../assets/images/logo.svg" alt="Logo Keiff"></li>
    <li class="menu__item" routerLink="/onde-encontrar" routerLinkActive="active">Onde encontrar</li>
    <li class="menu__item" routerLink="/fale-com-a-gente" routerLinkActive="active">Fale com a gente</li>
  </ul>
</nav>